.bevezeto {
    border-radius: 1rem;
}

.container {
    margin-top: 4rem; 
}

body {
    background-image: url(hatter.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

h1 {
    color: white;
}

.kerdo {
    border-radius: 1rem;
}

input, textarea {
    border-radius: 1rem;
}

button {
    border-radius: 1rem;
}